<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a10997f6-42e7-4ded-8375-0b203dce4dff/resourcegroups/CustomerManagementSystemResourceGroup/providers/Microsoft.Web/sites/CustomerManagementSystem</ResourceId>
    <ResourceGroup>CustomerManagementSystemResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://customermanagementsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>customermanagementsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CustomerManagementSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CustomerManagementSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:customermanagementsystem20180702072945dbserver.database.windows.net,1433;Initial Catalog=CustomerManagementSystem20180702072945_db;User ID=Allea11@customermanagementsystem20180702072945dbserver;Password=T0shib@02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CustomerManagementSystem.Models.ApplicationDbContext, CustomerManagementSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CustomerManagementSystemContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:customermanagementsystem20180702072945dbserver.database.windows.net,1433;Initial Catalog=CustomerManagementSystem20180702072945_db;User ID=Allea11@customermanagementsystem20180702072945dbserver;Password=T0shib@02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CustomerManagementSystem.Models.CustomerManagementSystemContext, CustomerManagementSystem" MigrationConfiguration="CustomerManagementSystem.Migrations.Configuration, CustomerManagementSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CustomerManagementSystemContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:customermanagementsystem20180702072945dbserver.database.windows.net,1433;Initial Catalog=CustomerManagementSystem20180702072945_db;User ID=Allea11@customermanagementsystem20180702072945dbserver;Password=T0shib@02</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:customermanagementsystem20180702072945dbserver.database.windows.net,1433;Initial Catalog=CustomerManagementSystem20180702072945_db;User ID=Allea11@customermanagementsystem20180702072945dbserver;Password=T0shib@02</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>