@model IEnumerable<CustomerManagementSystem.Models.Item>


<div id="" class="form-horizontal add-item">
    <h4>InvoiceItem</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <select name="ItemNumber">
        @foreach (var item in Model)
        {
            <option value=@item.ItemNumber>@item.ItemName</option>
        }
    </select>

    <div class="form-group">
        <div class="col-md-10">
            <p>Quantity:</p>
            <input name="ItemQuantity" type="number" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="+" class="btn btn-default" onclick="addNewItem()"/>
        </div>
    </div>
</div>
